example-data.jsonc
{
  "contents": {
    "chungus": "dmFyaWFibGUgImVudmlyb25tZW50IiB7CiAgZGVzY3JpcHRpb24gPSAiVGhl\nIGVudmlyb25tZW50IG5hbWUgdG8gdXNlIGZvciB0aGUgZGVwbG95IgogIHR5\ncGUgICAgICAgID0gc3RyaW5nCn0KCnZhcmlhYmxlICJzdWJzY3JpcHRpb25f\nbmFtZSIgewogIGRlc2NyaXB0aW9uID0gIlRoZSBjb21tb25OYW1lIGZvciB0\naGUgc3Vic2NyaXB0aW9uIgogIHR5cGUgICAgICAgID0gc3RyaW5nCn0KCnZh\ncmlhYmxlICJvd25lcl9zZXJ2aWNlX3ByaW5jaXBhbF9uYW1lIiB7CiAgZGVz\nY3JpcHRpb24gPSAiVGhlIG5hbWUgb2YgdGhlIHNlcnZpY2UgcHJpbmNpcGFs\nIHRoYXQgd2lsbCBiZSB1c2VkIHRvIHJ1biB0ZXJyYWZvcm0gYW5kIGlzIG93\nbmVyIG9mIHRoZSBzdWJzY2lwdGlvbnMiCiAgdHlwZSAgICAgICAgPSBzdHJp\nbmcKfQoKdmFyaWFibGUgImdyb3VwX25hbWVfc2VwYXJhdG9yIiB7CiAgZGVz\nY3JpcHRpb24gPSAiU2VwYXJhdG9yIGZvciBncm91cCBuYW1lcyIKICB0eXBl\nICAgICAgICA9IHN0cmluZwogIGRlZmF1bHQgICAgID0gIi0iCn0KCnZhcmlh\nYmxlICJhenVyZV9hZF9ncm91cF9wcmVmaXgiIHsKICBkZXNjcmlwdGlvbiA9\nICJQcmVmaXggZm9yIEF6dXJlIEFEIEdyb3VwcyIKICB0eXBlICAgICAgICA9\nIHN0cmluZwogIGRlZmF1bHQgICAgID0gImF6Igp9Cgp2YXJpYWJsZSAiYWtz\nX2dyb3VwX25hbWVfcHJlZml4IiB7CiAgZGVzY3JpcHRpb24gPSAiUHJlZml4\nIGZvciBBS1MgQXp1cmUgQUQgZ3JvdXBzIgogIHR5cGUgICAgICAgID0gc3Ry\naW5nCiAgZGVmYXVsdCAgICAgPSAiYWtzIgp9Cgp2YXJpYWJsZSAic2Vydmlj\nZV9wcmluY2lwYWxfbmFtZV9wcmVmaXgiIHsKICBkZXNjcmlwdGlvbiA9ICJQ\ncmVmaXggZm9yIHNlcnZpY2UgcHJpbmNpcGFscyIKICB0eXBlICAgICAgICA9\nIHN0cmluZwogIGRlZmF1bHQgICAgID0gInNwIgp9Cgp2YXJpYWJsZSAicGFy\ndG5lcl9pZCIgewogIGRlc2NyaXB0aW9uID0gIkF6dXJlIHBhcnRuZXIgaWQg\ndG8gbGluayBzZXJ2aWNlIHByaW5jaXBhbCB3aXRoIgogIHR5cGUgICAgICAg\nID0gc3RyaW5nCiAgZGVmYXVsdCAgICAgPSAiIgp9Cgp2YXJpYWJsZSAiZGVs\nZWdhdGVfc3ViX2dyb3VwcyIgewogIGRlc2NyaXB0aW9uID0gIlNob3VsZCB0\naGUgc3Vic2NyaXB0aW9uIGdyb3VwcyBiZSBkZWxlZ2F0ZWQgdG8gZ2xvYmFs\nIGdyb3VwcyAoZXhhbXBsZTogYXotc3ViLVtzdWJOYW1lXS1hbGwtb3duZXIp\nIgogIHR5cGUgICAgICAgID0gYm9vbAogIGRlZmF1bHQgICAgID0gdHJ1ZQp9\nCgp2YXJpYWJsZSAiZGVsZWdhdGVfYWNyIiB7CiAgZGVzY3JpcHRpb24gPSAi\nU2hvdWxkIEF6dXJlIENvbnRhaW5lciBSZWdpc3RyeSBkZWxlZ2F0aW9uIGJl\nIGNvbmZpZ3VyZWQ/IgogIHR5cGUgICAgICAgID0gYm9vbAogIGRlZmF1bHQg\nICAgID0gdHJ1ZQp9Cgp2YXJpYWJsZSAicmVzb3VyY2VfZ3JvdXBfY29uZmln\ncyIgewogIGRlc2NyaXB0aW9uID0gIlJlc291cmNlIGdyb3VwIGNvbmZpZ3Vy\nYXRpb24iCiAgdHlwZSA9IGxpc3QoCiAgICBvYmplY3QoewogICAgICBjb21t\nb25fbmFtZSAgICAgICAgICAgICAgICA9IHN0cmluZwogICAgICBkZWxlZ2F0\nZV9ha3MgICAgICAgICAgICAgICA9IGJvb2wgIyBEZWxlZ2F0ZSBha3MgcGVy\nbWlzc2lvbnMKICAgICAgZGVsZWdhdGVfa2V5X3ZhdWx0ICAgICAgICAgPSBi\nb29sICMgRGVsZWdhdGUgS2V5VmF1bHQgY3JlYXRpb24KICAgICAgZGVsZWdh\ndGVfc2VydmljZV9lbmRwb2ludCAgPSBib29sICMgRGVsZWdhdGUgU2Vydmlj\nZSBFbmRwb2ludCBwZXJtaXNzaW9ucwogICAgICBkZWxlZ2F0ZV9zZXJ2aWNl\nX3ByaW5jaXBhbCA9IGJvb2wgIyBEZWxlZ2F0ZSBTZXJ2aWNlIFByaW5jaXBh\nbAogICAgICBkaXNhYmxlX3VuaXF1ZV9zdWZmaXggICAgICA9IGJvb2wgIyBE\naXNhYmxlIHVuaXF1ZV9zdWZmaXggb24gcmVzb3VyY2UgbmFtZXMKICAgICAg\ndGFncyAgICAgICAgICAgICAgICAgICAgICAgPSBtYXAoc3RyaW5nKQogICAg\nfSkKICApCn0KCnZhcmlhYmxlICJyZXNvdXJjZV9uYW1lX292ZXJyaWRlcyIg\newogIGRlc2NyaXB0aW9uID0gIkEgd2F5IHRvIG92ZXJyaWRlIHRoZSByZXNv\ndXJjZSBuYW1lcyIKICB0eXBlICAgICAgICA9IGFueQogIGRlZmF1bHQgICAg\nID0gbnVsbAp9Cgp2YXJpYWJsZSAic2VydmljZV9wcmluY2lwYWxfYWxsX293\nbmVyX25hbWUiIHsKICBkZXNjcmlwdGlvbiA9ICJOYW1lIG9mIHRoZSBtYW51\nYWxseSBjcmVhdGVkIFNQLXN1Yi1hbGwtb3duZXIiCiAgdHlwZSAgICAgICAg\nPSBzdHJpbmcKICBkZWZhdWx0ICAgICA9IG51bGwKfQo=\n",
    "bungus": "dmFyaWFibGUgImVudmlyb25tZW50IiB7CiAgZGVzY3JpcHRpb24gPSAiVGhl\nIGVudmlyb25lbW50IgogIHR5cGUgICAgICAgID0gc3RyaW5nCn0KCnZhcmlh\nYmxlICJsb2NhdGlvbiIgewogIGRlc2NyaXB0aW9uID0gIlRoZSBBenVyZSBy\nZWdpb24gbmFtZSIKICB0eXBlICAgICAgICA9IHN0cmluZwp9Cgp2YXJpYWJs\nZSAibG9jYXRpb25fc2hvcnQiIHsKICBkZXNjcmlwdGlvbiA9ICJUaGUgQXp1\ncmUgcmVnaW9uIHNob3J0IG5hbWUiCiAgdHlwZSAgICAgICAgPSBzdHJpbmcK\nfQoKdmFyaWFibGUgIm5hbWUiIHsKICBkZXNjcmlwdGlvbiA9ICJUaGUgbmFt\nZSB0byB1c2UgZm9yIHRoZSBkZXBsb3kiCiAgdHlwZSAgICAgICAgPSBzdHJp\nbmcKfQoKdmFyaWFibGUgImxvY2tfcmVzb3VyY2VfZ3JvdXAiIHsKICBkZXNj\ncmlwdGlvbiA9ICJMb2NrIHRoZSByZXNvdXJjZSBncm91cCBmb3IgZGVsZXRp\nb24iCiAgdHlwZSAgICAgICAgPSBib29sCiAgZGVmYXVsdCAgICAgPSBmYWxz\nZQp9Cgp2YXJpYWJsZSAiZG5zX3pvbmUiIHsKICBkZXNjcmlwdGlvbiA9ICJM\naXN0IG9mIEROUyBab25lIHRvIGNyZWF0ZSIKICB0eXBlICAgICAgICA9IGxp\nc3Qoc3RyaW5nKQp9Cgp2YXJpYWJsZSAidW5pcXVlX3N1ZmZpeCIgewogIGRl\nc2NyaXB0aW9uID0gIlVuaXF1ZSBzdWZmaXggdGhhdCBpcyB1c2VkIGluIGds\nb2JhbGx5IHVuaXF1ZSByZXNvdXJjZXMgbmFtZXMiCiAgdHlwZSAgICAgICAg\nPSBzdHJpbmcKfQoKdmFyaWFibGUgImFrc19tYW5hZ2VkX2lkZW50aXR5IiB7\nCiAgZGVzY3JpcHRpb24gPSAiQUtTIEF6dXJlIEFEIG1hbmFnZWQgaWRlbnRp\ndHkiCiAgdHlwZSAgICAgICAgPSBzdHJpbmcKfQoKdmFyaWFibGUgInN1YnNj\ncmlwdGlvbl9uYW1lIiB7CiAgZGVzY3JpcHRpb24gPSAiVGhlIGNvbW1vbk5h\nbWUgZm9yIHRoZSBzdWJzY3JpcHRpb24iCiAgdHlwZSAgICAgICAgPSBzdHJp\nbmcKfQoKdmFyaWFibGUgImdyb3VwX25hbWVfc2VwYXJhdG9yIiB7CiAgZGVz\nY3JpcHRpb24gPSAiU2VwYXJhdG9yIGZvciBncm91cCBuYW1lcyIKICB0eXBl\nICAgICAgICA9IHN0cmluZwogIGRlZmF1bHQgICAgID0gIi0iCn0KCnZhcmlh\nYmxlICJha3NfZ3JvdXBfbmFtZV9wcmVmaXgiIHsKICBkZXNjcmlwdGlvbiA9\nICJQcmVmaXggZm9yIEFLUyBBenVyZSBBRCBncm91cHMiCiAgdHlwZSAgICAg\nICAgPSBzdHJpbmcKICBkZWZhdWx0ICAgICA9ICJha3MiCn0KCnZhcmlhYmxl\nICJhY3JfbmFtZV9vdmVycmlkZSIgewogIGRlc2NyaXB0aW9uID0gIk92ZXJy\naWRlIGRlZmF1bHQgbmFtZSBvZiBBQ1IiCiAgdHlwZSAgICAgICAgPSBzdHJp\nbmcKICBkZWZhdWx0ICAgICA9ICIiCn0K\n"
  }
}
// run this:
// curl -X POST -H "Content-Type: application/json" -d @example-data.jsonc http://localhost:7071/api/createSchema/test-version/test-revision
// {
//     "definition": {
//         "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
//         "contentVersion": "1.0.0.0",
//         "triggers": {
//             "When_a_pull_request_is_created_or_modified": {
//                 "type": "ApiConnectionWebhook",
//                 "inputs": {
//                     "host": {
//                         "connection": {
//                             "name": "@parameters('$connections')['github']['connectionId']"
//                         }
//                     },
//                     "body": {
//                         "events": [
//                             "pull_request"
//                         ],
//                         "active": true,
//                         "name": "web",
//                         "config": {
//                             "content_type": "json",
//                             "url": "@listCallbackUrl()"
//                         }
//                     },
//                     "headers": {
//                         "Accept": "application/vnd.github.v3+json"
//                     },
//                     "path": "/repos/@{encodeURIComponent('hedonicadapter')}/@{encodeURIComponent('terraform-modules')}/hooks"
//                 }
//             }
//         },
//         "actions": {
//             "Condition_1": {
//                 "type": "If",
//                 "expression": {
//                     "and": [
//                         {
//                             "equals": [
//                                 "@triggerBody()?['pull_request']?['merged']",
//                                 true
//                             ]
//                         }
//                     ]
//                 },
//                 "actions": {
//                     "HTTP": {
//                         "type": "Http",
//                         "inputs": {
//                             "uri": "https://api.github.com/repos/hedonicadapter/terraform-modules/git/trees/main",
//                             "method": "GET",
//                             "headers": {
//                                 "Accept": "application/vnd.github+json",
//                                 "Authorization": "Bearer "
//                             },
//                             "queries": {
//                                 "recursive": "true"
//                             }
//                         },
//                         "runtimeConfiguration": {
//                             "contentTransfer": {
//                                 "transferMode": "Chunked"
//                             }
//                         }
//                     },
//                     "Parse_JSON": {
//                         "type": "ParseJson",
//                         "inputs": {
//                             "content": "@body('HTTP')",
//                             "schema": {
//                                 "type": "object",
//                                 "properties": {
//                                     "sha": {
//                                         "type": "string"
//                                     },
//                                     "url": {
//                                         "type": "string"
//                                     },
//                                     "tree": {
//                                         "type": "array",
//                                         "items": {
//                                             "type": "object",
//                                             "properties": {
//                                                 "path": {
//                                                     "type": "string"
//                                                 },
//                                                 "mode": {
//                                                     "type": "string"
//                                                 },
//                                                 "type": {
//                                                     "type": "string"
//                                                 },
//                                                 "sha": {
//                                                     "type": "string"
//                                                 },
//                                                 "url": {
//                                                     "type": "string"
//                                                 }
//                                             },
//                                             "required": [
//                                                 "path",
//                                                 "mode",
//                                                 "type",
//                                                 "sha",
//                                                 "url"
//                                             ]
//                                         }
//                                     },
//                                     "truncated": {
//                                         "type": "boolean"
//                                     }
//                                 },
//                                 "required": [
//                                     "sha",
//                                     "url",
//                                     "tree",
//                                     "truncated"
//                                 ]
//                             }
//                         },
//                         "runAfter": {
//                             "HTTP": [
//                                 "Succeeded"
//                             ]
//                         }
//                     },
//                     "For_each_2": {
//                         "type": "Foreach",
//                         "foreach": "@body('Parse_JSON')['tree']",
//                         "actions": {
//                             "Condition": {
//                                 "type": "If",
//                                 "expression": {
//                                     "and": [
//                                         {
//                                             "endsWith": [
//                                                 "@item()['path']",
//                                                 "variables.tf"
//                                             ]
//                                         }
//                                     ]
//                                 },
//                                 "actions": {
//                                     "HTTP_1": {
//                                         "type": "Http",
//                                         "inputs": {
//                                             "uri": "https://api.github.com/repos/hedonicadapter/terraform-modules/contents/@{item()['path']}",
//                                             "method": "GET",
//                                             "headers": {
//                                                 "Authorization": "Bearer "
//                                             }
//                                         },
//                                         "runtimeConfiguration": {
//                                             "contentTransfer": {
//                                                 "transferMode": "Chunked"
//                                             }
//                                         }
//                                     },
//                                     "Parse_JSON_1": {
//                                         "type": "ParseJson",
//                                         "inputs": {
//                                             "content": "@body('HTTP_1')",
//                                             "schema": {
//                                                 "type": "object",
//                                                 "properties": {
//                                                     "type": {
//                                                         "type": "string"
//                                                     },
//                                                     "encoding": {
//                                                         "type": "string"
//                                                     },
//                                                     "size": {
//                                                         "type": "integer"
//                                                     },
//                                                     "name": {
//                                                         "type": "string"
//                                                     },
//                                                     "path": {
//                                                         "type": "string"
//                                                     },
//                                                     "content": {
//                                                         "type": "string"
//                                                     },
//                                                     "sha": {
//                                                         "type": "string"
//                                                     },
//                                                     "url": {
//                                                         "type": "string"
//                                                     },
//                                                     "git_url": {
//                                                         "type": "string"
//                                                     },
//                                                     "html_url": {
//                                                         "type": "string"
//                                                     },
//                                                     "download_url": {
//                                                         "type": "string"
//                                                     },
//                                                     "_links": {
//                                                         "type": "object",
//                                                         "properties": {
//                                                             "git": {
//                                                                 "type": "string"
//                                                             },
//                                                             "self": {
//                                                                 "type": "string"
//                                                             },
//                                                             "html": {
//                                                                 "type": "string"
//                                                             }
//                                                         }
//                                                     }
//                                                 }
//                                             }
//                                         },
//                                         "runAfter": {
//                                             "HTTP_1": [
//                                                 "Succeeded"
//                                             ]
//                                         }
//                                     },
//                                     "Combine_ResponseData_with_CurrentKVP": {
//                                         "type": "Compose",
//                                         "inputs": "@{variables('ResponseData')}@{variables('CurrentKVP')}",
//                                         "runAfter": {
//                                             "Set_CurrentKVP": [
//                                                 "Succeeded"
//                                             ]
//                                         }
//                                     },
//                                     "Update_ResponseData": {
//                                         "type": "SetVariable",
//                                         "inputs": {
//                                             "name": "ResponseData",
//                                             "value": "@outputs('Combine_ResponseData_with_CurrentKVP')"
//                                         },
//                                         "runAfter": {
//                                             "Combine_ResponseData_with_CurrentKVP": [
//                                                 "Succeeded"
//                                             ]
//                                         }
//                                     },
//                                     "Set_CurrentKVP": {
//                                         "type": "SetVariable",
//                                         "inputs": {
//                                             "name": "CurrentKVP",
//                                             "value": {
//                                                 "@{body('Parse_JSON_1')?['path']}": "@{body('Parse_JSON_1')?['content']}"
//                                             }
//                                         },
//                                         "runAfter": {
//                                             "Parse_JSON_1": [
//                                                 "Succeeded"
//                                             ]
//                                         }
//                                     }
//                                 },
//                                 "else": {
//                                     "actions": {}
//                                 }
//                             }
//                         },
//                         "runAfter": {
//                             "Parse_JSON": [
//                                 "Succeeded"
//                             ]
//                         }
//                     }
//                 },
//                 "else": {
//                     "actions": {}
//                 },
//                 "runAfter": {
//                     "CurrentKVP": [
//                         "Succeeded"
//                     ]
//                 }
//             },
//             "KVPs": {
//                 "type": "InitializeVariable",
//                 "inputs": {
//                     "variables": [
//                         {
//                             "name": "ResponseData",
//                             "type": "object"
//                         }
//                     ]
//                 },
//                 "runAfter": {}
//             },
//             "CurrentKVP": {
//                 "type": "InitializeVariable",
//                 "inputs": {
//                     "variables": [
//                         {
//                             "name": "CurrentKVP",
//                             "type": "object"
//                         }
//                     ]
//                 },
//                 "runAfter": {
//                     "KVPs": [
//                         "Succeeded"
//                     ]
//                 }
//             }
//         },
//         "outputs": {},
//         "parameters": {
//             "$connections": {
//                 "type": "Object",
//                 "defaultValue": {}
//             }
//         }
//     },
//     "parameters": {
//         "$connections": {
//             "value": {
//                 "github": {
//                     "id": "/subscriptions/dfdc9108-f03d-493c-a855-142613894024/providers/Microsoft.Web/locations/westeurope/managedApis/github",
//                     "connectionId": "/subscriptions/dfdc9108-f03d-493c-a855-142613894024/resourceGroups/chungus/providers/Microsoft.Web/connections/github",
//                     "connectionName": "github"
//                 }
//             }
//         }
//     }
// }
