example-data.jsonc
{
  "contents": {
    "chungus": "dmFyaWFibGUgImVudmlyb25tZW50IiB7CiAgZGVzY3JpcHRpb24gPSAiVGhlIGVudmlyb25tZW50IGNvbmZpZ3VyYXRpb24iCiAgdHlwZSA9IG9iamVjdCh7CiAgICBuYW1lID0gc3RyaW5nCiAgICByZWdpb24gPSBzdHJpbmcKICAgIHNldHRpbmdzID0gb2JqZWN0KHsKICAgICAgaW5zdGFuY2VfdHlwZSA9IHN0cmluZwogICAgICBpbnN0YW5jZV9jb3VudCA9IG51bWJlcgogICAgfSkKICB9KQogIGRlZmF1bHQgPSB7CiAgICBuYW1lID0gInByb2R1Y3Rpb24iCiAgICByZWdpb24gPSAidXMtd2VzdC0xIgogICAgc2V0dGluZ3MgPSB7CiAgICAgIGluc3RhbmNlX3R5cGUgPSAidDIubWljcm8iCiAgICAgIGluc3RhbmNlX2NvdW50ID0gMwogICAgfQogIH0KfQ==",
    "bungus": "dmFyaWFibGUgInByb2plY3RfbmFtZSIgewogIGRlc2NyaXB0aW9uID0gIlRoZSBuYW1lIG9mIHRoZSBwcm9qZWN0IgogIHR5cGUgPSBzdHJpbmcKICBkZWZhdWx0ID0gIm15X3Byb2plY3QiCn0KCnZhcmlhYmxlICJpbnN0YW5jZV9jb3VudCIgewogIGRlc2NyaXB0aW9uID0gIlRoZSBudW1iZXIgb2YgaW5zdGFuY2VzIHRvIGNyZWF0ZSIKICB0eXBlID0gbnVtYmVyCiAgZGVmYXVsdCA9IDMKfQ=="
  }
}
// run this:
// curl -X POST -H "Content-Type: application/json" -d @example-data.jsonc http://localhost:7071/api/createSchema/test-version/test-revision
// {
//     "definition": {
//         "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
//         "contentVersion": "1.0.0.0",
//         "triggers": {
//             "When_a_pull_request_is_created_or_modified": {
//                 "type": "ApiConnectionWebhook",
//                 "inputs": {
//                     "host": {
//                         "connection": {
//                             "name": "@parameters('$connections')['github']['connectionId']"
//                         }
//                     },
//                     "body": {
//                         "events": [
//                             "pull_request"
//                         ],
//                         "active": true,
//                         "name": "web",
//                         "config": {
//                             "content_type": "json",
//                             "url": "@listCallbackUrl()"
//                         }
//                     },
//                     "headers": {
//                         "Accept": "application/vnd.github.v3+json"
//                     },
//                     "path": "/repos/@{encodeURIComponent('hedonicadapter')}/@{encodeURIComponent('terraform-modules')}/hooks"
//                 }
//             }
//         },
//         "actions": {
//             "Condition_1": {
//                 "type": "If",
//                 "expression": {
//                     "and": [
//                         {
//                             "equals": [
//                                 "@triggerBody()?['pull_request']?['merged']",
//                                 true
//                             ]
//                         }
//                     ]
//                 },
//                 "actions": {
//                     "HTTP": {
//                         "type": "Http",
//                         "inputs": {
//                             "uri": "https://api.github.com/repos/hedonicadapter/terraform-modules/git/trees/main",
//                             "method": "GET",
//                             "headers": {
//                                 "Accept": "application/vnd.github+json",
//                                 "Authorization": "Bearer "
//                             },
//                             "queries": {
//                                 "recursive": "true"
//                             }
//                         },
//                         "runtimeConfiguration": {
//                             "contentTransfer": {
//                                 "transferMode": "Chunked"
//                             }
//                         }
//                     },
//                     "Parse_JSON": {
//                         "type": "ParseJson",
//                         "inputs": {
//                             "content": "@body('HTTP')",
//                             "schema": {
//                                 "type": "object",
//                                 "properties": {
//                                     "sha": {
//                                         "type": "string"
//                                     },
//                                     "url": {
//                                         "type": "string"
//                                     },
//                                     "tree": {
//                                         "type": "array",
//                                         "items": {
//                                             "type": "object",
//                                             "properties": {
//                                                 "path": {
//                                                     "type": "string"
//                                                 },
//                                                 "mode": {
//                                                     "type": "string"
//                                                 },
//                                                 "type": {
//                                                     "type": "string"
//                                                 },
//                                                 "sha": {
//                                                     "type": "string"
//                                                 },
//                                                 "url": {
//                                                     "type": "string"
//                                                 }
//                                             },
//                                             "required": [
//                                                 "path",
//                                                 "mode",
//                                                 "type",
//                                                 "sha",
//                                                 "url"
//                                             ]
//                                         }
//                                     },
//                                     "truncated": {
//                                         "type": "boolean"
//                                     }
//                                 },
//                                 "required": [
//                                     "sha",
//                                     "url",
//                                     "tree",
//                                     "truncated"
//                                 ]
//                             }
//                         },
//                         "runAfter": {
//                             "HTTP": [
//                                 "Succeeded"
//                             ]
//                         }
//                     },
//                     "For_each_2": {
//                         "type": "Foreach",
//                         "foreach": "@body('Parse_JSON')['tree']",
//                         "actions": {
//                             "Condition": {
//                                 "type": "If",
//                                 "expression": {
//                                     "and": [
//                                         {
//                                             "endsWith": [
//                                                 "@item()['path']",
//                                                 "variables.tf"
//                                             ]
//                                         }
//                                     ]
//                                 },
//                                 "actions": {
//                                     "HTTP_1": {
//                                         "type": "Http",
//                                         "inputs": {
//                                             "uri": "https://api.github.com/repos/hedonicadapter/terraform-modules/contents/@{item()['path']}",
//                                             "method": "GET",
//                                             "headers": {
//                                                 "Authorization": "Bearer "
//                                             }
//                                         },
//                                         "runtimeConfiguration": {
//                                             "contentTransfer": {
//                                                 "transferMode": "Chunked"
//                                             }
//                                         }
//                                     },
//                                     "Parse_JSON_1": {
//                                         "type": "ParseJson",
//                                         "inputs": {
//                                             "content": "@body('HTTP_1')",
//                                             "schema": {
//                                                 "type": "object",
//                                                 "properties": {
//                                                     "type": {
//                                                         "type": "string"
//                                                     },
//                                                     "encoding": {
//                                                         "type": "string"
//                                                     },
//                                                     "size": {
//                                                         "type": "integer"
//                                                     },
//                                                     "name": {
//                                                         "type": "string"
//                                                     },
//                                                     "path": {
//                                                         "type": "string"
//                                                     },
//                                                     "content": {
//                                                         "type": "string"
//                                                     },
//                                                     "sha": {
//                                                         "type": "string"
//                                                     },
//                                                     "url": {
//                                                         "type": "string"
//                                                     },
//                                                     "git_url": {
//                                                         "type": "string"
//                                                     },
//                                                     "html_url": {
//                                                         "type": "string"
//                                                     },
//                                                     "download_url": {
//                                                         "type": "string"
//                                                     },
//                                                     "_links": {
//                                                         "type": "object",
//                                                         "properties": {
//                                                             "git": {
//                                                                 "type": "string"
//                                                             },
//                                                             "self": {
//                                                                 "type": "string"
//                                                             },
//                                                             "html": {
//                                                                 "type": "string"
//                                                             }
//                                                         }
//                                                     }
//                                                 }
//                                             }
//                                         },
//                                         "runAfter": {
//                                             "HTTP_1": [
//                                                 "Succeeded"
//                                             ]
//                                         }
//                                     },
//                                     "Combine_ResponseData_with_CurrentKVP": {
//                                         "type": "Compose",
//                                         "inputs": "@{variables('ResponseData')}@{variables('CurrentKVP')}",
//                                         "runAfter": {
//                                             "Set_CurrentKVP": [
//                                                 "Succeeded"
//                                             ]
//                                         }
//                                     },
//                                     "Update_ResponseData": {
//                                         "type": "SetVariable",
//                                         "inputs": {
//                                             "name": "ResponseData",
//                                             "value": "@outputs('Combine_ResponseData_with_CurrentKVP')"
//                                         },
//                                         "runAfter": {
//                                             "Combine_ResponseData_with_CurrentKVP": [
//                                                 "Succeeded"
//                                             ]
//                                         }
//                                     },
//                                     "Set_CurrentKVP": {
//                                         "type": "SetVariable",
//                                         "inputs": {
//                                             "name": "CurrentKVP",
//                                             "value": {
//                                                 "@{body('Parse_JSON_1')?['path']}": "@{body('Parse_JSON_1')?['content']}"
//                                             }
//                                         },
//                                         "runAfter": {
//                                             "Parse_JSON_1": [
//                                                 "Succeeded"
//                                             ]
//                                         }
//                                     }
//                                 },
//                                 "else": {
//                                     "actions": {}
//                                 }
//                             }
//                         },
//                         "runAfter": {
//                             "Parse_JSON": [
//                                 "Succeeded"
//                             ]
//                         }
//                     }
//                 },
//                 "else": {
//                     "actions": {}
//                 },
//                 "runAfter": {
//                     "CurrentKVP": [
//                         "Succeeded"
//                     ]
//                 }
//             },
//             "KVPs": {
//                 "type": "InitializeVariable",
//                 "inputs": {
//                     "variables": [
//                         {
//                             "name": "ResponseData",
//                             "type": "object"
//                         }
//                     ]
//                 },
//                 "runAfter": {}
//             },
//             "CurrentKVP": {
//                 "type": "InitializeVariable",
//                 "inputs": {
//                     "variables": [
//                         {
//                             "name": "CurrentKVP",
//                             "type": "object"
//                         }
//                     ]
//                 },
//                 "runAfter": {
//                     "KVPs": [
//                         "Succeeded"
//                     ]
//                 }
//             }
//         },
//         "outputs": {},
//         "parameters": {
//             "$connections": {
//                 "type": "Object",
//                 "defaultValue": {}
//             }
//         }
//     },
//     "parameters": {
//         "$connections": {
//             "value": {
//                 "github": {
//                     "id": "/subscriptions/dfdc9108-f03d-493c-a855-142613894024/providers/Microsoft.Web/locations/westeurope/managedApis/github",
//                     "connectionId": "/subscriptions/dfdc9108-f03d-493c-a855-142613894024/resourceGroups/chungus/providers/Microsoft.Web/connections/github",
//                     "connectionName": "github"
//                 }
//             }
//         }
//     }
// }
